<div class="container-fluid">
  <div class="container mt-4">
    <button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#calculatorModal">
      Open Calculator
    </button>
    <button class="btn btn-success" (click)="openGallery()">
      Open Gallery
    </button>
  </div>

  <!-- Calculator Modal -->
  <div class="modal fade" id="calculatorModal" tabindex="-1" (shown.bs.modal)="onModalShown()">
    <div class="modal-dialog">
      <div class="modal-content p-3">
        <h5 class="modal-title">Calculator</h5>
        <input type="text" class="form-control mb-2" [(ngModel)]="display" readonly />
        <div class="d-flex flex-wrap gap-2">
          <button class="btn btn-outline-secondary" *ngFor="let btn of buttons" (click)="onCalcClick(btn)">
            {{ btn }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Gallery Images -->
  <div class="row mt-4" *ngIf="showGallery">
    <div class="col-4" *ngFor="let img of images">
      <img [src]="img.src" alt="..." class="img-fluid mb-2 gallery-img" (click)="openImagePreview(img)" />
    </div>
  </div>

  <!-- Image Preview Modals -->
  <div *ngFor="let preview of imagePreviews">
    <div class="modal fade show d-block custom-modal" [id]="preview.id" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content p-3 position-relative">
          <img [src]="preview.src" class="img-fluid w-100" [id]="preview.id + '-container'" />
          <button class="btn btn-sm btn-primary position-absolute bottom-0 end-0 m-2" (click)="addCaption(preview.id)">Add Caption</button>
          <button class="btn-close position-absolute top-0 end-0 m-2" (click)="closePreview(preview.id)"></button>
        </div>
      </div>
    </div>
  </div>
</div>
